/abalone.errors.log
/abalone.aux
/abalone.hp
/abalone.pdf
/abalone.ps
hashable-*/
HNN-*/
hnn//tournament.log.txt
/data-good/
/hnn
/nn_ll.txt
/nn.txt
/abalone.log.txt
/report.html
/hlint.html
/tournament.log.txt
/data-nn/
/constrains.log.txt
/histogram-abalone.png
/histogram-breakthrough.png
/tmp-data/
*.txt